/* Main colors: white, */

.bd-placeholder-img {
	font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
		font-size: 3.5rem;
    }
}

/* PERSONAL CSS */
.sideImg {
	display: block;
	width: 300px;
	height: auto;
}
.iconImg {
	display: block;
	width: 30px;
	height: auto;
}
.bookingImg {
	display: block;
	width: 50px;
	height: auto;
	padding-bottom: 20px;
}

header {
	font-family: 'Century Gothic';
	background-color: #878998;
}
table, th, td {
	border: 1px solid black;

}

/* CAROUSELL CSS */
.carousel-item {
  height: 33rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 50rem;
  margin: -100px 0px 0px 0px;
}
.carousel {
  margin-bottom: 3rem;
}
.carousel-caption {
  top: 3rem;
  z-index: 10;
}

.marketing .col-lg-4 {
  margin-bottom: 1rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.featurette-divider {
  margin: 3rem 0;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* DIVIDER */
.b-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
